<p-dialog [(visible)]="displayModal" [modal]="true" [baseZIndex]="10000" [style]="{'width': '50%'}"
          [draggable]="false" [resizable]="false">
  <div class="kt-portlet kt-portlet--mobile shadow-none">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <h4 class="kt-portlet__head-title">
          Purchase Detail
        </h4>
      </div>
      <div class="kt-portlet__head-toolbar">
      </div>
    </div>
    <div class="kt-portlet__body m-padding-t-10">
      <div class="row">
        <div class="col-4">
          <div class="form-group m-form__group kt-margin-b-5">
            <label>Product Name</label>
            <div class="m-input-icon m-input-icon--right">
              <input type="text" class="form-control m-input" placeholder="Product Name">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group m-form__group kt-margin-b-5">
            <label>Quantity</label>
            <div class="m-input-icon m-input-icon--right">
              <input type="text" class="form-control" [(ngModel)]="quaValue" placeholder="Quantity" (change)="onInputChange(quaValue)" pattern="[0-9]">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group m-form__group m-margin-b-5">
            <label>Cost</label>
            <div class="m-input-icon m-input-icon--right">
              <input type="text" class="form-control" placeholder="Cost" [(ngModel)]="costValue" (change)="onInputChange(costValue)" pattern="[0-9]">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group m-form__group m-margin-b-5">
            <label>Total</label>
            <div class="m-input-icon m-input-icon--right">
              <input type="text" class="form-control" [(ngModel)]="totalValue" placeholder="Total">
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <h3></h3>
      </div>
      <div class="row ">
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
        <div class="col-3">
          2,00,000
        </div>
      </div>
    </div>
    <div class="kt-portlet__foot kt-align-right kt-padding-5">
      <button type="submit" class="btn btn-danger btn-sm" (click)="close()">Close</button>
      <button type="submit" class="btn btn-skype btn-sm">Save</button>
    </div>
  </div>
</p-dialog>
