<p-dialog [(visible)]="displayModal" [modal]="true" [baseZIndex]="10000" [style]="{'width': '50%'}"
          [draggable]="false" [resizable]="false">
  <div>
    <div class="kt-portlet kt-portlet--mobile shadow-none">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h4 class="kt-portlet__head-title">
            Add Attendance
          </h4>
        </div>
        <div class="kt-portlet__head-toolbar">
        </div>
      </div>
      <div class="kt-portlet__body m-padding-t-10">
       <div class="row">
         <div class="col-12">
           <div>{{todayDate}}</div>
         </div>
       </div>
      </div>
      <div class="kt-portlet__foot kt-align-right kt-padding-5">
        <button type="submit" class="btn btn-danger btn-sm" (click)="close()">Close</button>
        <button type="submit" class="btn btn-skype btn-sm" (click)="cal()">Save</button>
      </div>
    </div>
  </div>
</p-dialog>
